[Desktop Entry]

Type=Application
Version=1.0
Name=Foreground Booster
Name[ca]=Accelerador en primer pla
Name[es]=Acelerador en primer plano
Name[fr]=Accélérateur d'arrière-plan
Name[pt]=Acelerador em Primeiro Plano
Name[sk]=Zvýrazňovač popredia
Name[sl]=Foreground Booster
Name[uk]=Пришвидшувач програм переднього плану
Name[x-test]=xxForeground Boosterxx
Exec=foreground_booster
