[Desktop Entry]

Type=Application
Version=1.0
Name=Foreground Booster
Name[az]=Ön Plan Gücləndiricisi
Name[ca]=Accelerador en primer pla
Name[ca@valencia]=Accelerador en primer pla
Name[el]=Προωθητής προσκηνίου
Name[en_GB]=Foreground Booster
Name[es]=Acelerador en primer plano
Name[fr]=Accélérateur d'arrière-plan
Name[hi]=अग्रभूमि वर्धक
Name[it]=Foreground Booster
Name[nl]=Voorgrond-booster
Name[nn]=Framgrunnsakselerator
Name[pt]=Acelerador em Primeiro Plano
Name[pt_BR]=Intensificador de primeiro plano
Name[ro]=Accelerator de prim-plan
Name[sk]=Zvýrazňovač popredia
Name[sl]=Foreground Booster
Name[uk]=Пришвидшувач програм переднього плану
Name[x-test]=xxForeground Boosterxx
Name[zh_CN]=前景加成
Exec=foreground_booster
X-systemd-skip=true
